<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<title>Tiga Pro - 组件设计器</title>
<link rel="stylesheet" href="./js/element-plus/index.css" />
<link rel="stylesheet" href="./css/index.css" />

<script src="./js/axios.min.js"></script>

<script src="./js/vue3/vue.global.prod.js"></script>
<script src="./js/element-plus/index.full.min.js"></script>
<script src="./js/vue3/index.iife.min.js"></script>
<script src="./js/monaco/loader.min.js"></script>
<script src="./js/monaco/monaco.design.js"></script>

<script src="./js/vue3/dynamic.compile.js"></script>
<script src="./js/vue3/dynamic.preview.component.js"></script>

<style>
</style>
</head>
<body>

	<div id="app">
		<div class="layout" :class="{ 'is-dragging': dragging }">
			<div class="main-content">
				<div class="split-container">
					<div class="pane-top" :style="{ height: topHeight + 'px' }">
						<div class="toolbar">
							<span class="label-tag" style="padding-left:10px;color: #0e8a4d;font-size: 25px;">{{componentName}}</span>
							<div>
								<el-button type="info" size="small" @click="saveComponent">保存</el-button>
								<el-button type="primary" size="small" @click="refreshPreview">运行预览</el-button>
							</div>
						</div>
						<div class="editor-box editors-container">
							<div class="editor-left"
								:class="{'fullscreen-target': fullType === 'sfc'}">
								<div class="toolbar" style="background: #f0f0f0;">
									<span
										style="font-size: 11px; color: rgb(43, 41, 41); height: 40px; line-height: 40px;">SFC
										TEMPLATE</span>
									<el-button
										:icon="fullType === 'sfc' ? 'ScaleToOriginal' : 'FullScreen'"
										size="small" link @click="toggleFull('sfc')"></el-button>
								</div>
								<div id="monaco-editor-SCF" class="editor-inner"></div>
							</div>
							<div class="editor-right"
								:class="{'fullscreen-target': fullType === 'code'}">
								<div class="toolbar" style="background: #f0f0f0;">
									<span
										style="font-size: 11px; color: rgb(43, 41, 41); height: 40px; line-height: 40px;">COMPONENT
										DATA</span>
									<el-button
										:icon="fullType === 'code' ? 'ScaleToOriginal' : 'FullScreen'"
										size="small" link @click="toggleFull('code')"></el-button>
								</div>
								<div id="monaco-editor-JSON" class="editor-inner"></div>
							</div>
						</div>
					</div>

					<div class="resizer" v-show="!fullType" @mousedown="initDrag"></div>

					<div class="pane-bottom"
						:class="{'fullscreen-target': fullType === 'preview'}">
						<div class="toolbar">
							<span class="label-tag" style="height: 40px; line-height: 40px;">RUNTIME
								PREVIEW</span>
							<el-button
								:icon="fullType === 'preview' ? 'ScaleToOriginal' : 'FullScreen'"
								size="small" link @click="toggleFull('preview')"></el-button>
						</div>
						<div class="runtime-container">
							<dynamic-preview-component :id="componentId" :data="previewData"
								@submit-success="handleComponentSubmit" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script>
const { createApp, ref, onMounted, nextTick } = Vue;

const mainApp = createApp({
    setup() {
        const topHeight = ref(400);
        const dragging = ref(false);
        const fullType = ref(''); // '', 'sfc', 'code', 'preview'
        const componentId = ref('')
        const componentName = ref('')
        
     	// 传递给组件的预览数据对象
        const previewData = ref({});
        
        if(!top.window['_components']){
			top.window['_components'] = {};
		}
       
        // 当父页面执行 iframe.contentWindow.params = item 时
        // 拦截 window.params 的赋值
        Object.defineProperty(window, 'params', {
            configurable: true,
            set: async (item) => {
            	componentId.value = item.id;
            	componentName.value = item.name;
                try {
                    const res = await axios.get('tiga/component/getById', {params: { id: item.id }});
                    if (res.data.code === 200) {
                    	const detail = res.data.data;
                    	top.window['_components'][item.id] = detail;
                    	previewData.value = JSON.parse(detail.script || '{}');
                        if (window.sfcEditor) window.sfcEditor.setValue(detail.raw_sfc || '');
                    	if (window.jsonEditor) window.jsonEditor.setValue(detail.script || '{}');
                    }
                } catch (e) { 
                	console.error(e);
                    ElementPlus.ElMessage.error('获取组件详情失败');
                }
            }
        });
        
        // 全屏切换切换逻辑
        const toggleFull = (type) => {
            if (fullType.value === type) {
                fullType.value = '';
            } else {
                fullType.value = type;
            }
            // 必须在 DOM 更新后触发 Monaco 重新计算布局
            nextTick(() => {
                if (sfcEditor) sfcEditor.layout();
                if (jsonEditor) jsonEditor.layout();
            });
        };
        
        const saveComponent = async() => {
        	if(componentId.value){
        		let data = DynamicCompile.handleCompileAndSave(sfcEditor.getValue(), jsonEditor.getValue());
            	data['id'] = componentId.value;
            	try {
                    const res = await axios.post('tiga/component/update', data);
                    if (res.data.code === 200) {
                    	delete top.window['_components'][data.id]
                    	previewData.value = JSON.parse(data.script || '{}');
                    	ElementPlus.ElMessage.success('保存组件信息成功');
                    }
                } catch (e) { 
                	console.error(e);
                    ElementPlus.ElMessage.error('保存组件信息失败');
                }
        	}
        }

        const refreshPreview = () => {
        	let data = DynamicCompile.handleCompileAndSave(sfcEditor.getValue(), jsonEditor.getValue());
        	data['id'] = componentId.value;
        	top.window['_components'][data.id] = data;
        	previewData.value = JSON.parse(data.script || '{}');
        };
        
     	// 定义监听组件抛出的事件
        const handleComponentSubmit = (data) => {
            console.log('主页面接收到组件提交：', data);
            ElementPlus.ElMessage.success('主页面：处理成功！');
        };

        const initDrag = (e) => {
            if(fullType.value) return; // 全屏状态禁止拖拽
            dragging.value = true;
            const startY = e.clientY;
            const startH = topHeight.value;
            const onMove = (ev) => {
                const newH = startH + (ev.clientY - startY);
                if (newH > 100 && newH < window.innerHeight - 100) topHeight.value = newH;
            };
            const onUp = () => {
                dragging.value = false;
                document.removeEventListener('mousemove', onMove);
                document.removeEventListener('mouseup', onUp);
                if (sfcEditor) sfcEditor.layout();
                if (jsonEditor) jsonEditor.layout();
            };
            document.addEventListener('mousemove', onMove);
            document.addEventListener('mouseup', onUp);
        };

        onMounted(async () => {
        	MonacoDesign.initConfig();
        	window.jsonEditor = await MonacoDesign.json.init('monaco-editor-JSON');
        	window.sfcEditor = await MonacoDesign.html.init('monaco-editor-SCF');
        });

        return {componentId, componentName, saveComponent,topHeight, dragging, initDrag, refreshPreview, fullType, toggleFull,previewData,handleComponentSubmit };
    }
});

//监听全局总线
window.$bus.on('global-log', (msg) => {
	ElementPlus.ElMessage.success('主页面总线监控：'+msg);
});
//全局 Promise 错误拦截
if (!window.hasMonacoErrorHandler) {
    window.addEventListener('unhandledrejection', function (event) {
        if (event.reason && (event.reason.name === 'Canceled')) event.preventDefault();
    });
    window.hasMonacoErrorHandler = true;
}

for (const [k, c] of Object.entries(ElementPlusIconsVue)) { mainApp.component(k, c); }

DynamicPreviewComponent(mainApp)

mainApp.use(ElementPlus).mount('#app');

</script>
</body>
</html>