<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<title>tiga-ide v1.0.7</title>
<link rel="stylesheet" href="./js/element-plus/index.css" />
<link rel="stylesheet" href="./css/index.css" />
</head>
<body>
	<div id="app">
		<div class="ide-container">
			<header class="ide-header"
				style="display: flex; align-items: center; padding: 0 15px; height: 50px;">
				<div
					style="font-weight: bold; font-size: 14px; color: #fff; min-width: 100px;">tiga-ide
					1.0.7</div>

				<span class="breadcrumb-nav" v-if="breadcrumbInfo"> <el-icon
						style="vertical-align: middle; margin-right: 4px;"> <Location /></el-icon>
					{{ breadcrumbInfo }}
				</span>
				<div v-else class="breadcrumb-nav"
					style="color: rgba(255, 255, 255, 0.3)"></div>

				<el-button-group> <el-button size="small"
					type="primary" @click="saveCurrent"> <el-icon>
				<document-checked /></el-icon>&nbsp; 保存</el-button> <el-button size="small"
					type="success" @click="runCode"> <el-icon> <video-play /></el-icon>&nbsp;
				运行</el-button> </el-button-group>
			</header>

			<div class="ide-main">
				<div class="activity-bar">
					<div v-for="item in leftActs" :key="item.id"
						:class="['act-btn', {active: curLeftTab === item.id}]"
						@click="curLeftTab = item.id">
						<span v-if="['API', 'Fn'].includes(item.icon)"
							class="act-icon-text">{{ item.icon }}</span>
						<el-icon v-else> <component :is="item.icon" /></el-icon>
						<span class="act-text">{{ item.name }}</span>
					</div>
				</div>

				<aside class="side-panel">
					<div class="side-title">{{ getLeftName }}管理</div>
					<div class="content-box"
						@contextmenu.prevent="showCtx($event, 'empty', 'left')">
						<el-tree :data="leftTrees[curLeftTab]" node-key="id"
							ref="leftTreeRef" @node-click="openTab"
							@node-contextmenu.stop="(e,d,n)=>showCtx(e,'node','left',d)">
						<template #default="{ node, data }">
							<span class="custom-tree-node" :title="data.label + (data.path ? ' ('+data.path+')' : '')">
								<el-icon v-if="data.is_folder === 1" class="folder-icon">
									<Folder />
								</el-icon>

								<template v-else>
									<span v-if="curLeftTab === 'api'"
										:class="['method-tag', 'tag-' + (data.method || 'get').toLowerCase()]">
										{{ data.method || 'GET' }} 
									</span> 
									<span v-else-if="curLeftTab === 'fun'" class="method-tag tag-fn">Fn</span>
									<span v-else-if="curLeftTab === 'com'" class="method-tag tag-vue">Vue</span> 
									<span v-else-if="curLeftTab === 'task'" class="method-tag tag-task">Task</span>
								</template> 
								<span class="node-label"> 
									{{ data.label }} 
									<span v-if="data.path" class="node-path">({{ data.path }})</span>
									<span v-if="data.is_folder == 0 &&  data.stype && data.stype == 'magic'" class="node-path">--Magic</span>
									<span v-else-if="data.is_folder == 0 && data.stype && data.stype == 'groovy'" class="node-path">--Groovy</span>
								</span>
							</span>
						</template>
						</el-tree>
					</div>
				</aside>

				<main class="editor-area">
					<el-tabs v-model="activeId" type="card" class="custom-tabs"
						@tab-remove="beforeCloseTab"> <el-tab-pane
						v-for="tab in openedTabs" :key="tab.id" :name="tab.id" closable>
					<template #label>
						<span
							@contextmenu.prevent.stop="showCtx($event, 'tab', 'center', tab)">
							<span v-if="modifiedSet.has(tab.id)" class="modified-dot">*</span>
							<span v-if="tab.category === 'api'" class="tab-type-prefix"
							:style="{color: 'var(--'+(tab.method||'GET').toLowerCase()+'-color)'}">{{
								tab.method || 'GET' }}</span> <span v-else-if="tab.category === 'fun'"
							class="tab-type-prefix" style="color: var(--fn-color)">Fn</span>
							<span v-else-if="tab.category === 'com'" class="tab-type-prefix"
							style="color: var(--vue-color)">Vue</span> <span
							v-else-if="tab.category === 'task'" class="tab-type-prefix"
							style="color: var(--task-color)">Task</span> {{ tab.label }}
						</span>
					</template>
					</el-tab-pane> </el-tabs>
					<div class="monaco-host">
						<div v-for="tab in openedTabs" :key="tab.id" :id="'ed-'+tab.id"
							class="editor-instance" v-show="activeId === tab.id"></div>
						<div v-if="!openedTabs.length"
							style="height: 100%; display: flex; align-items: center; justify-content: center; color: #ccc;">欢迎使用
							TIGA-IDE</div>
					</div>

					<div class="resizer-v" @mousedown="initResize"></div>

					<div class="bottom-panel" :style="{ height: bottomHeight + 'px' }">
						<el-tabs v-model="activeBottomTab" type="border-card"
							style="height:100%"> <el-tab-pane label="基本信息"
							name="info">
						<div style="padding: 15px;" v-if="currentActiveNode">
							<p>
								<b>名称:</b> {{ currentActiveNode.label }}
							</p>
							<p>
								<b>标识路径:</b> {{ currentActiveNode.path }}
							</p>
							<p v-if="currentActiveNode.method">
								<b>请求方法:</b> {{ currentActiveNode.method }}
							</p>
							<p v-if="currentActiveNode.cron">
								<b>Cron规则:</b> {{ currentActiveNode.cron }}
							</p>
						</div>
						</el-tab-pane> <el-tab-pane label="运行日志" name="logs">
						<div v-html="logs"></div>
						</el-tab-pane> </el-tabs>
					</div>
				</main>

				<aside :class="['side-panel', {collapsed: !rightVisible}]">
					<div class="side-title">{{ getRightName }}配置</div>
					<div class="content-box"
						@contextmenu.prevent="showCtx($event, 'empty', 'right')">
						<div v-for="item in rightTrees[curRightTab]" :key="item.id"
							class="flat-item" :title="item.label"
							@contextmenu.prevent.stop="showCtx($event, 'node', 'right', item)">
							<el-icon> <Setting /></el-icon>
							<span style="white-space: nowrap; margin-left: 5px;">{{
								item.label }}</span>
						</div>
					</div>
				</aside>

				<div class="activity-bar">
					<div v-for="item in rightActs" :key="item.id"
						:class="['act-btn', {active: curRightTab === item.id && rightVisible}]"
						@click="toggleRight(item.id)">
						<span v-if="!['Coin'].includes(item.icon)" class="act-icon-text">{{
							item.icon }}</span>
						<el-icon v-else> <component :is="item.icon" /></el-icon>
						<span class="act-text">{{ item.name }}</span>
					</div>
				</div>
			</div>
		</div>

		<div v-if="menu.show" class="ctx-menu"
			:style="{left: menu.x+'px', top: menu.y+'px'}" @mousedown.stop>
			<template v-if="menu.type === 'node'">
				<template v-if="menu.side === 'left' && menu.data.is_folder === 1">
					<div class="menu-item" @click="handleAction('add-sub-dir')">
						<el-icon> <folder-add /></el-icon>
						新建目录
					</div>
					<div class="menu-item" @click="handleAction('add-sub-res')">
						<el-icon> <Plus /></el-icon>
						新建{{ getLeftName }}
					</div>
				</template>
				<div class="menu-item" @click="handleAction('edit')">
					<el-icon> <Edit /></el-icon>
					修改配置
				</div>
				<div class="menu-sep"></div>
				<div class="menu-item danger" @click="handleAction('del')">
					<el-icon> <Delete /></el-icon>
					删除
				</div>
			</template>
			<template v-if="menu.type === 'empty'">
				<div v-if="menu.side === 'left'" class="menu-item"
					@click="handleAction('add-group')">
					<el-icon> <folder-add /></el-icon>
					创建顶层目录
				</div>
				<div v-if="menu.side === 'left'" class="menu-item"
					@click="handleAction('add-res')">
					<el-icon> <Plus /></el-icon>
					创建顶层{{ getLeftName }}
				</div>
				<div v-if="menu.side === 'left'" class="menu-sep"></div>
				<div v-if="menu.side === 'left'" class="menu-item"
					@click="handleAction('collapse-all')">
					<el-icon> <arrow-up /></el-icon>
					全部折叠
				</div>
				<div v-if="menu.side === 'left'" class="menu-item"
					@click="handleAction('expand-all')">
					<el-icon> <arrow-down /></el-icon>
					全部展开
				</div>
				<div v-if="menu.side === 'right'" class="menu-item"
					@click="handleAction('add-root')">
					<el-icon> <Plus /></el-icon>
					创建新实例
				</div>
			</template>
			<template v-if="menu.type === 'tab'">
				<div class="menu-item" @click="beforeCloseTab(menu.data.id)">
					<el-icon> <Close /></el-icon>
					关闭当前
				</div>
				<div class="menu-item" @click="handleTabAction('close-left')">
					<el-icon> <Back /></el-icon>
					关闭左侧
				</div>
				<div class="menu-item" @click="handleTabAction('close-right')">
					<el-icon> <Right /></el-icon>
					关闭右侧
				</div>
				<div class="menu-item" @click="handleTabAction('close-all')">
					<el-icon> <circle-close /></el-icon>
					关闭全部
				</div>
			</template>
		</div>

		<el-dialog v-model="dialog.show" :title="dialog.title" width="550px"
			append-to-body> <el-form :model="dialog.form"
			label-width="110px" size="small"> <el-form-item
			:label="(dialog.form.is_folder === 1 ? '目录' : getLeftName) + '名称'">
		<el-input v-model="dialog.form.name"></el-input> </el-form-item>

		<template v-if="menu.side === 'left'">
			<el-form-item label="路径标识"> <el-input
				v-model="dialog.form.path" placeholder="e.g. /my_path"></el-input> </el-form-item>

			<template v-if="curLeftTab === 'task' && dialog.form.is_folder === 0">
				<el-form-item label="Cron 规则"> <el-input
					v-model="dialog.form.cron" placeholder="0/5 * * * * ?">
				<template #append>
					<el-popover placement="bottom" :width="300" trigger="click">
					<template #reference>
						<el-button icon="Clock">选择常用</el-button>
					</template>
					<div class="cron-quick-panel">
						<el-button v-for="c in cronPresets" :key="c.val" class="cron-item"
							size="small" variant="text" @click="dialog.form.cron = c.val">{{
						c.label }} </el-button>
					</div>
					</el-popover>
				</template>
				</el-input> </el-form-item>
				<el-form-item label="是否启动"> <el-switch
					v-model="dialog.form.enabled" active-text="启动" inactive-text="停止"
					inline-prompt /> </el-form-item>
			</template>

			<el-form-item label="请求方法"
				v-if="curLeftTab === 'api' && dialog.form.is_folder === 0">
			<el-select v-model="dialog.form.method" style="width:100%">
			<el-option label="GET" value="GET"></el-option> <el-option
				label="POST" value="POST"></el-option> <el-option label="PUT"
				value="PUT"></el-option> <el-option label="DELETE" value="DELETE"></el-option>
			</el-select> </el-form-item>
			<el-form-item label="引擎类型"
				v-if="curLeftTab === 'api' && dialog.form.is_folder === 0">
			<el-select v-model="dialog.form.stype" style="width:100%">
			<el-option label="magic" value="magic"></el-option> <el-option
				label="groovy" value="groovy"></el-option> </el-select> </el-form-item>
			<el-form-item label="超时时间"
				v-if="curLeftTab === 'api' && dialog.form.is_folder === 0">
			<el-input-number v-model="dialog.form.timeoutms" :min="1000"
				:step="1000"></el-input-number> </el-form-item>
		</template>

		<template v-if="menu.side === 'right' && curRightTab === 'db'">
			<el-form-item label="驱动类型"> <el-input
				v-model="dialog.form.dbType" placeholder="mysql/oracle"></el-input></el-form-item>
			<el-form-item label="JdbcUrl"> <el-input
				v-model="dialog.form.url" type="textarea"
				placeholder="jdbc:mysql://..."></el-input></el-form-item>
		</template>
		<template v-if="menu.side === 'right' && curRightTab === 'redis'">
			<el-form-item label="主机"> <el-input
				v-model="dialog.form.host" placeholder="127.0.0.1"></el-input></el-form-item>
			<el-form-item label="端口"> <el-input-number
				v-model="dialog.form.port" :min="1"></el-input-number></el-form-item>
		</template>
		</el-form>
		<template #footer>
			<el-button @click="dialog.show=false">取消</el-button>
			<el-button type="primary" @click="confirmDialog">保存配置</el-button>
		</template>
		</el-dialog>
	</div>

	<script src="./js/axios.min.js"></script>
	<script src="./js/vue3/vue.global.prod.js"></script>
	<script src="./js/element-plus/index.full.min.js"></script>
	<script src="./js/vue3/index.iife.min.js"></script>
	<script src="./js/monaco/loader.min.js"></script>
	<script src="./js/monaco/monaco.java.js"></script>

	<script>
        const { createApp, ref, reactive, computed, nextTick, onMounted } = Vue;

        const app = createApp({
            setup() {
            	function error(errorMsg) {
           		 	// 检查是否包含重复路径错误
           		 	if (errorMsg.includes('Duplicate entry') && errorMsg.includes('request_path_idx')) {
	           		    // 提取请求路径
	           		    const pathRegex = /Duplicate entry '([^']+)'/;
	           		    const match = errorMsg.match(pathRegex);
	           		    
	           		    if (match && match[1]) {
	           		      const requestPath = match[1];
	           		      return `请求路径 "${requestPath}" 已经存在，请修改后重试！`
	           		 	}
           		 	}
           			// 处理 pid_path_idx 错误
           		    if (errorMsg.includes('Duplicate entry') && errorMsg.includes('pid_path_idx')) {
           		        const entryRegex = /Duplicate entry '([^']+)'/;
           		        const match = errorMsg.match(entryRegex);
           		        
           		        if (match && match[1]) {
           		            const fullEntry = match[1];
           		            const parts = fullEntry.split('-');
           		            const duplicateName = parts[parts.length - 1]; 
           		            
           		            return `"${duplicateName}" 在同层级已经存在，请修改后重试！`;
           		        }
           		    }
            	  	return errorMsg;
            	}
				const Request = async (url, method, data) => {
            	    try {
            	        let options = { 
            	            method: method, headers: { 'Content-Type': 'application/json' }
            	        };
            	        if (method.toUpperCase() === 'GET') {
            	            const params = new URLSearchParams();
            	            for (let name in data) { params.append(name, data[name]); }
            	            const queryString = params.toString();
            	            if (queryString) { url = `${url}${url.includes('?') ? '&' : '?'}${queryString}`; }
            	        } else {
            	            // 重要：非 GET 请求直接序列化对象为 JSON 字符串
            	            options.body = JSON.stringify(data); 
            	        }
            	        const res = await fetch(url, options).then(r => r.json());
            	        if (res.code == 200) {return res.data;} 
            	        else {
            	        	const msg = error(res.description);
            	            ElementPlus.ElMessageBox.confirm(msg, '提示', { type: 'error' });
            	            return null;
            	        }
            	    } catch (e) {
            	        ElementPlus.ElMessageBox.confirm("请求失败:" + e, '提示', { type: 'error' });
            	        return null; 
            	    }
            	}
            	
                const leftTreeRef = ref(null);
                const leftActs = [
                    {id:'api', name:'接口', icon:'API'},
                    {id:'fun', name:'函数', icon:'Fn'},
                    {id:'com', name:'组件', icon:'Grid'},
                    {id:'task', name:'任务', icon:'Timer'}
                ];
                const rightActs = [
                    {id:'db', name:'数据库', icon:'Coin'},
                    {id:'redis', name:'Redis', icon:'缓'}
                ];

                const cronPresets = [
                    { label: '每隔5秒执行', val: '0/5 * * * * ?' },
                    { label: '每隔1分钟执行', val: '0 0/1 * * * ?' },
                    { label: '每整点执行', val: '0 0 * * * ?' },
                    { label: '每天凌晨0点', val: '0 0 0 * * ?' },
                    { label: '每周一凌晨', val: '0 0 0 ? * MON' },
                    { label: '工作日朝九晚五', val: '0 0 9-17 * * MON-FRI' },
                    { label: '每月1号', val: '0 0 0 1 * ?' }
                ];

                const curLeftTab = ref('api');
                const curRightTab = ref('db');
                const rightVisible = ref(false);
                const activeId = ref('');
                const activeBottomTab = ref('logs');
                const openedTabs = ref([]);
                const modifiedSet = ref(new Set()); 
                const logs = ref('Tiga-IDE system online...');
                
                const leftTrees = reactive({api: [], fun: [], com: [], task: []});
                
                const rightTrees = reactive({ 
                    db: [{id:'rdb1', label:'MySQL_Main', is_folder: 0, dbType:'mysql', url:'jdbc:mysql://localhost:3306/db'}], 
                    redis: [{id:'rrd1', label:'Redis_Cache', is_folder: 0, host:'127.0.0.1', port: 6379}] 
                });

                const menu = reactive({ show: false, x: 0, y: 0, type: '', side: '', data: null });
                const dialog = reactive({ show: false, title: '', mode: '', pid: '0', form: {} });
                const editors = new Map();

                onMounted(async() => {
                	var data = await Request('/tiga/api/tree', 'get', {});
                	if(data) leftTrees.api = data;
                    window.addEventListener('mousedown', (e) => {
                        if (!e.target.closest('.ctx-menu')) hideMenus();
                    }, true);
                });

                const getLeftName = computed(() => leftActs.find(i=>i.id===curLeftTab.value)?.name || '');
                const getRightName = computed(() => rightActs.find(i=>i.id===curRightTab.value)?.name || '');

                // 计算访问路径
                const breadcrumbInfo = computed(() => {
				    if (!activeId.value) return null;
				    let foundNode = null, foundType = '';
				    
				    // 1. 先定位当前选中的节点属于哪个大类
				    for (const typeKey of Object.keys(leftTrees)) {
				        const findInTree = (list, id) => {
				            for (const node of list) {
				                if (node.id === id) return node;
				                if (node.children) {
				                    const res = findInTree(node.children, id);
				                    if (res) return res;
				                }
				            }
				            return null;
				        };
				        foundNode = findInTree(leftTrees[typeKey], activeId.value);
				        if (foundNode) { foundType = typeKey; break; }
				    }
				    if (!foundNode) return null;
				
				    // 2. 递归查找从根到当前节点的路径数组
				    const getFullInfo = (list, id, parentLabels = [], parentPaths = []) => {
				        for (let node of list) {
				            const currentLabels = [...parentLabels, node.label];
				            
				            // 处理路径拼接：去掉节点 path 前后的斜杠，存入数组
				            const cleanPath = (node.path || "").replace(/^\/+|\/+$/g, "");
				            const currentPaths = cleanPath ? [...parentPaths, cleanPath] : [...parentPaths];
				
				            if (node.id === id) {
				                return { 
				                    labels: currentLabels, 
				                    fullPath: currentPaths.join('/') 
				                };
				            }
				            if (node.children && node.children.length > 0) {
				                const result = getFullInfo(node.children, id, currentLabels, currentPaths);
				                if (result) return result;
				            }
				        }
				        return null;
				    };
				
				    const res = getFullInfo(leftTrees[foundType], activeId.value);
				    
				    if (!res) return foundNode.label;
				    return `${res.labels.join('/')} (${res.fullPath})`;
				});

                const showCtx = (e, type, side, data = null) => {
                    menu.show = true; menu.x = e.clientX; menu.y = e.clientY;
                    menu.type = type; menu.side = side; menu.data = data;
                };

                const hideMenus = () => { menu.show = false; };

                const toggleRight = (id) => {
                    if (curRightTab.value === id) rightVisible.value = !rightVisible.value;
                    else { curRightTab.value = id; rightVisible.value = true; }
                    nextTick(() => editors.forEach(ed => ed.layout()));
                };
                
                const getAllNodeIds = (node) => {
                    let ids = [node.id]; // 先存入当前节点 ID
                    if (node.children && node.children.length > 0) {
                        node.children.forEach(child => {
                            // 递归合并子节点的 ID 集合
                            ids = ids.concat(getAllNodeIds(child));
                        });
                    }
                    return ids;
                };

                const handleAction = (act) => {
                    const treeData = menu.side === 'left' ? leftTrees[curLeftTab.value] : rightTrees[curRightTab.value];
                    const resourceName = menu.side === 'left' ? getLeftName.value : getRightName.value;

                    if (act.includes('add')) {
                        dialog.mode = 'add';
                        dialog.pid = act.includes('sub') ? menu.data.id : '0';

                        const isDir = act.includes('dir') || act.includes('group');
                        dialog.form = { 
                            is_folder: isDir ? 1 : 0, 
                            name: '', path: '', method: 'GET',stype:'magic',timeoutms:1000,
                            cron: curLeftTab.value === 'task' ? '0/5 * * * * ?' : '', 
                            enabled: true,
                            dbType: 'mysql', url: '', host: '127.0.0.1', port: 6379
                        };
                        dialog.title = `新建${isDir ? '目录' : resourceName}`;
                        dialog.show = true;
                    } else if (act === 'edit') {
                        dialog.mode = 'edit';
                        dialog.id = menu.data.id;
                        dialog.pid = menu.data.pid || '0';
                        dialog.form = JSON.parse(JSON.stringify(menu.data));
                        dialog.form.name = menu.data.label;
                        dialog.title = `修改${menu.data.is_folder === 1 ? '目录' : resourceName}配置`;
                        dialog.show = true;
                    } else if (act === 'del') {
                    	ElementPlus.ElMessageBox.confirm(
                    			menu.data.children?.length > 0 ? '确定要删除该节点及其所有子节点吗？此操作不可逆！':'确定要删除该节点吗？此操作不可逆！',
                    		    '危险操作提示',
                    		    {
                    		        confirmButtonText: '确定删除',
                    		        cancelButtonText: '取消',
                    		        type: 'warning',
                    		    }
                    	).then(async () => {
                    		const ids = getAllNodeIds(menu.data)
                        	const status = await Request('/tiga/api/delete', 'POST', {ids:ids.join(',')});
                        	if(status){
                        		removeFromTree(treeData, menu.data.id);
                                beforeCloseTab(menu.data.id, true);
                        	}
                   		});
                    } else if (act === 'expand-all') {
                        leftTreeRef.value.store._getAllNodes().forEach(n => n.expanded = true);
                    } else if (act === 'collapse-all') {
                        leftTreeRef.value.store._getAllNodes().forEach(n => n.expanded = false);
                    }
                    hideMenus();
                };
                
                const createLeftTreeNode = (node) =>{
                	 const tree = menu.side === 'left' ? leftTrees[curLeftTab.value] : rightTrees[curRightTab.value];
                	 const pid = dialog.pid;
                     if (pid === '0') {
                         tree.push(node);
                     } else {
                         if (!menu.data.children) menu.data.children = [];
                         menu.data.children.push(node);
                     }
                }

                // 辅助函数：获取指定 ID 节点的父路径前缀
                const getParentPathPrefix = (tree, targetPid) => {
                    if (!targetPid || targetPid === '0') return '';
                    let resultPath = '';
                    const find = (nodes, pid, currentPath) => {
                        for (const node of nodes) {
                            const nodePath = (node.path || '').replace(/^\/+|\/+$/g, "");
                            const newPath = currentPath ? (nodePath ? currentPath + '/' + nodePath : currentPath) : nodePath;
                            if (node.id === pid) {
                                resultPath = newPath;
                                return true;
                            }
                            if (node.children && find(node.children, pid, newPath)) return true;
                        }
                        return false;
                    };
                    find(tree, targetPid, '');
                    return resultPath;
                }

                // 辅助函数：递归更新一个节点下所有叶子节点的 request_path
                const updateChildPaths = (node, parentPath, result) => {
                    const cleanPath = (node.path || "").replace(/^\/+|\/+$/g, "");
                    const currentFullPath = parentPath ? (cleanPath ? parentPath + '/' + cleanPath : parentPath) : cleanPath;
                    
                    if (node.is_folder === 0) {
                        node.request_path = currentFullPath;
                        // 这里可以收集所有变更的 ID，批量同步到后端
                        result.push({"id":node.id, "request_path":node.request_path})
                    }
                    if (node.children && node.children.length > 0) {
                        node.children.forEach(child => updateChildPaths(child, currentFullPath, result));
                    }
                }

                const confirmDialog = async() => {
                    const treeData = menu.side === 'left' ? leftTrees[curLeftTab.value] : rightTrees[curRightTab.value];
                    
                    if (dialog.mode === 'add') {
                        const pid = dialog.pid;
                        const newNode = { ...dialog.form, pid: pid, label: dialog.form.name, children: dialog.form.is_folder === 1 ? [] : undefined };
                        
                        const params = {
                            label: newNode.label,
                            pid: pid,
                            path: newNode.path,
                            is_folder: newNode.is_folder
                        };
                       
                        if (params.is_folder === 0) {
                            // 动态计算父路径前缀
                            const parentFullPath = getParentPathPrefix(treeData, pid);
                            const cleanNodePath = (newNode.path || "").replace(/^\/+|\/+$/g, "");
                            params['request_path'] = parentFullPath ? (parentFullPath + '/' + cleanNodePath) : cleanNodePath;

                            if(curLeftTab.value === 'api'){
                                params['method'] = newNode.method;
                                params['stype'] = newNode.stype;
                                params['timeoutms'] = newNode.timeoutms;
                                params['script'] = '// logic here';
                            }
                        }
                    	if(curLeftTab.value == 'api'){
                    		 const id = await Request('/tiga/api/save', 'POST', params);
                    		 if(id){ newNode.id = id; createLeftTreeNode(newNode); }
                    	}

                    } else { 
                    	// 修改逻辑
                    	let params = {
                   			id: menu.data.id
                          	,label: dialog.form.name
                          	,is_folder: menu.data.is_folder
                          	,path: dialog.form.path
                    	};

                        // 如果路径发生了变化，或者该节点是叶子节点，我们需要重新计算 request_path
                        const parentFullPath = getParentPathPrefix(treeData, menu.data.pid);
                        const cleanNodePath = (dialog.form.path || "").replace(/^\/+|\/+$/g, "");
                        const newNodeFullPath = parentFullPath ? (parentFullPath + '/' + cleanNodePath) : cleanNodePath;

                    	if (dialog.form.is_folder === 0) {
                    		const other = {
           				 		request_path: newNodeFullPath
           				 		,method: dialog.form.method
           				 		,stype: dialog.form.stype
           				 		,timeoutms: dialog.form.timeoutms
                            }
                    		params = {...params, ...other};
                    	}
                    	const oldMenuData = JSON.parse(JSON.stringify(menu.data));
                    	Object.assign(menu.data, dialog.form);
                    	var result = [];
                        // 全量更新该节点下所有子孙叶子节点的 request_path
                        updateChildPaths(menu.data, parentFullPath, result);
                        if(result.length > 0){
                        	params['batchNeedUpdateRequestPath'] = result;
                        }
                    	if(curLeftTab.value == 'api'){
                    		const status = await Request('/tiga/api/save', 'POST', params);
                            if(status){ 
                            	 menu.data.label = dialog.form.name;

                                 // 如果当前修改的是正在打开的 Tab，更新 Tab 的元数据
                                 const openTab = openedTabs.value.find(t => t.id === menu.data.id);
                                 if (openTab) {
                                     openTab.label = menu.data.label;
                                     openTab.path = menu.data.path;
                                     if(menu.data.is_folder === 0) openTab.request_path = menu.data.request_path;
                                 }
                            }else{
                            	Object.assign(menu.data, oldMenuData);
                            }
                    	}
                    }
                    nextTick(() => {
                		const pid = dialog.pid;
                        if(leftTreeRef.value && pid !== '0') {
                            const parentNode = leftTreeRef.value.store.nodesMap[pid];
                            if(parentNode) {
                                let temp = parentNode;
                                while(temp) {
                                    temp.expanded = true;
                                    temp = temp.parent;
                                }
                            }
                        }
                    });
                    dialog.show = false;
                };

                const openTab = (data) => {
                    if (data.is_folder === 1) return; 
                    
                    if (!openedTabs.value.find(t => t.id === data.id)) {
                        const tabData = { ...data, category: curLeftTab.value };
                        openedTabs.value.push(tabData);
                    }
                    
                    activeId.value = data.id;
                    nextTick( async() => {
                        const el = document.getElementById('ed-'+data.id);
                        if (el && !editors.has(data.id)) {
                        	window.codeEditor = await MonacoJave(el,data.id,data.script || "",modifiedSet);
                        	codeEditor.onDidChangeModelContent(() => modifiedSet.value.add(data.id));
                            editors.set(data.id, codeEditor);
                        }
                    });
                };

                const beforeCloseTab = (id, force = false) => {
                    hideMenus();
                    if (!force && modifiedSet.value.has(id)) {
                        ElementPlus.ElMessageBox.confirm('未保存更改，确定关闭？', '提示', { type: 'warning' })
                            .then(() => doClose(id)).catch(() => {});
                    } else { doClose(id); }
                };

                const doClose = (id) => {
                    const idx = openedTabs.value.findIndex(t => t.id === id);
                    if(idx > -1) {
                        openedTabs.value.splice(idx, 1);
                        if (activeId.value === id) activeId.value = openedTabs.value[0]?.id || '';
                        editors.get(id)?.dispose(); editors.delete(id);
                        modifiedSet.value.delete(id);
                    }
                };

                const handleTabAction = (act) => {
                    const idx = openedTabs.value.findIndex(t => t.id === menu.data.id);
                    if (act === 'close-all') [...openedTabs.value].forEach(t => beforeCloseTab(t.id));
                    else if (act === 'close-left') openedTabs.value.slice(0, idx).forEach(t => beforeCloseTab(t.id));
                    else if (act === 'close-right') openedTabs.value.slice(idx + 1).forEach(t => beforeCloseTab(t.id));
                    hideMenus();
                };

                const removeFromTree = (arr, id) => {
                    const idx = arr.findIndex(i => i.id === id);
                    if (idx > -1) {
                    	arr.splice(idx, 1)
                    } else {
                    	arr.forEach(i => i.children && removeFromTree(i.children, id));
                    }
                };

                const bottomHeight = ref(250);
                const initResize = (e) => {
                    const startY = e.clientY; const startHeight = bottomHeight.value;
                    const onMouseMove = (ev) => {
                        bottomHeight.value = Math.max(40, startHeight + (startY - ev.clientY));
                        editors.forEach(ed => ed.layout());
                    };
                    const onMouseUp = () => { document.removeEventListener('mousemove', onMouseMove); document.removeEventListener('mouseup', onMouseUp); };
                    document.addEventListener('mousemove', onMouseMove); document.addEventListener('mouseup', onMouseUp);
                };
                
               const saveCurrent = () => { if (activeId.value) { modifiedSet.value.delete(activeId.value); ElementPlus.ElMessage.success('配置已保存'); } }

                return {
                    leftTreeRef, leftActs, rightActs, curLeftTab, curRightTab, rightVisible, leftTrees, rightTrees,
                    openedTabs, activeId, activeBottomTab, logs, menu, dialog, modifiedSet, cronPresets,
                    bottomHeight, initResize, getLeftName, getRightName, breadcrumbInfo,
                    currentActiveNode: computed(() => openedTabs.value.find(t => t.id === activeId.value)),
                    showCtx, hideMenus, handleAction, confirmDialog, openTab, beforeCloseTab, toggleRight, handleTabAction,
                    saveCurrent,
                    runCode: () => { logs.value += `<br/>[${new Date().toLocaleTimeString()}] 执行脚本：${breadcrumbInfo.value}`; }
                };
            }
        });
        app.use(ElementPlus);
        for (const [key, component] of Object.entries(ElementPlusIconsVue)) { app.component(key, component); }
        app.mount('#app');
    </script>
</body>
</html>